/* ==========================
    TABLA
========================== */
.tabla-solicitud {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    margin-top: 5%;
}

/* ==========================
    ENCABEZADOS
========================== */
.th-solicitud {
    background: #FFA500;
    color: #000;
    padding: 18px 16px;
    font-weight: 700;
    border-bottom: 3px solid black;
    text-transform: uppercase;
    text-align: justify;
}

/* ==========================
    FILAS DEL CUERPO
========================== */
.td-solicitud {
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    color: #000000;
    font-size: 15px;
}

.tabla-solicitud tr:hover .td-solicitud {
    background: #b4b3b3e3;
}

/* ==========================
    ESTADOS
========================== */
.estado {
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.estado.agotado {
    background: #ff3b3b;
    color: white; 
}

.estado.por-agotarse {
    background: #ffae00;
    color: black; 
}

.estado.reorden {
    background: #007bff;
    color: white; 
}

.estado.almacen {
    background: #28c76f;
    color: white; 
}

/* ==========================
    LINK "Más detallado"
========================== */
.detalle-link {
    background: #fc5d23;
    border: 2px solid #000000;
    color: #000000;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
}

.detalle-link:hover {
    background: #f5865e;
}

.input-cantidad {
    width: 70px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 2px solid #ffd21a;
    background: #222;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    outline: none;
    transition: 0.25s;
}

.input-cantidad:focus {
    border-color: #ffea4a;
    box-shadow: 0 0 8px rgba(255, 210, 26, 0.7);
}

.btn-aprobar {
    background: #FCCB23;
    border: 2px solid #000000;
    color: #000000;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
    text-decoration: none;
}

.btn-aprobar:hover {
    background: black;
    color: #ffd21a;
}

#inv-toast.inv-toast {
    position: fixed;
    bottom: 5%;
    right: 40px;
    background: #28c76f;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    opacity: 0;
    transform: translateY(20px);
    transition: .4s ease;
    z-index: 9999;
}

#inv-toast.inv-toast.show {
    opacity: 1;
    transform: translateY(0);
}