@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* =========================
    Variables y Reset
   ========================= */
:root {
    --orange-1: #ff7a00;
    --orange-2: #ff9a1f;
    --orange-3: #ffb347;
    --bg: #000000;
    --text: #ffffff;
    --muted: #cfcfcf;
    --accent: #ff6a00;
}

/* =========================
    Layout principal
   ========================= */
.layout {
    display: grid;
    grid-template-columns: 210px 1fr;
    min-height: 100vh;
}

/* =========================
    Sidebar
   ========================= */
.sidebar-Gerente {
    background: linear-gradient(180deg, var(--orange-2), var(--orange-1) 5%, #e35d00 100%);
    background-blend-mode: soft-light;
    box-shadow:
        inset 0 0 12px rgba(0, 0, 0, 0.18),
        inset 0 0 25px rgba(0, 0, 0, 0.25),
        0 0 8px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 24px 20px;
    max-height: 100vh;
    width: 130%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffae00 #1a1a1a;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.logo img {
    width: 230px;
    height: auto;
}

.menu-Gerente {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu__tit {
    font-size: 15px;
}

.menu__item {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 14px 18px; /* Aumenta área clickeable */
    width: 100%; /* Ocupa todo el ancho del menú */
    border-radius: 6px; /* Opcional si quieres bordes suaves */
    transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.menu__item:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
}

.menu__item--active {
    background: rgba(255, 255, 255, 0.25);
    color: #000;
    transform: translateX(5px);
}